<odoo>
    <menuitem id="vehicle_root" name="Vehicle"/>

    <menuitem id="vehicle_menu" parent="vehicle_root" name="Vehicle" action="transport_vehicle_action"/>

    <menuitem id="configration_root" name="Configration" parent="vehicle_root"/>
    <menuitem id="vehicle_category_menu" parent="configration_root" name="Category" action="transport_category_action"/>
    <menuitem id="vehicle_subcategory_menu" parent="configration_root" name="Sub Category" action="transport_subcategory_action"/>
</odoo>